appdirs==1.4.4
audioread==3.0.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
decorator==5.1.1
fonttools==4.39.4
idna==3.4
joblib==1.2.0
kiwisolver==1.4.4
lazy_loader==0.2
librosa==0.10.0.post2
llvmlite==0.40.0
matplotlib==3.7.1
msgpack==1.0.5
numba==0.57.0
numpy==1.24.2
packaging==23.1
Pillow==9.5.0
pooch==1.6.0
pycparser==2.21
pyparsing==3.0.9
pystoi==0.3.3
python-dateutil==2.8.2
requests==2.30.0
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
soundfile==0.12.1
soxr==0.3.5
tdqm==0.0.1
threadpoolctl==3.1.0
tqdm==4.65.0
typing_extensions==4.5.0
urllib3==2.0.2
